.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.banner{
  background:#924284; 
}
.navbar-default{
  background:linear-gradient(to bottom, #944384 0%, #924284 100%)!important; 
  border:none!important; 
  padding-top: 30px;
  background: transparent!important;
}
.logo-title{
  color:#fff!important;
  font-weight: 500;
  font-size:24px;
}
.logo-title-bottom{
  color:#fff!important;
  font-weight: 600;
  font-size:25px;
  margin-top: 10px;
  margin-left: 12px;
}
.navbar-nav>li>a{
  color:#DCC2D7!important;
  font-size: 11px;
}
.signup{
  background: #AB77A2;
    border-radius: 25px;
    height: 30px;
    padding-top: 6px;
    margin-top: 10px;
}
.banner-heading{
  color:#fff;
  font-weight: 400;
  padding-top: 4em;
  font-size: 2em;
}
.banner-subheading{
  color:#D2C2D6;
  font-size: 1.1em;
}
.search-box{
  width:300px;
  padding: 10px;
  border-radius: 30px;

}
.signup a{
  margin-top: -15px;
}
#formValidationSuccess3{
  border-radius: 25px;
  height: 50px;
  padding-left: 25px;
}
.form-control-feedback{
  width: 100px;
    margin-top: 9px;
    border-radius: 22px;
    margin-right:10px;
    background: linear-gradient(to right, #f9b54a 0%, #f89132 100%);
    border: 0px;
    color:#fff!important;
    font-family: serif;
    font-size: 13px;
    font-weight: 500;
}
.canvs{
  height:370px!important;
  background: linear-gradient(to bottom, #944384 0%, #674681 100%);
}
.feature{
  background: #fff;
  padding-bottom: 190px;
  padding-top: 60px;
}
.three-feature{
  margin-left: 20px;
  font-size: 5em;
  background: linear-gradient(to right, #8E4384 , #4D4980);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.getstart{
  background: #FAFAFA;
  padding-bottom: 190px;
}
.startbutton{
  width: 200px;
  box-shadow: 1px 1px 1px grey;
  padding: 7px 5px 5px 5px;
  border-radius: 42px;
  font-weight: bolder;
  background: #FAFAFA;
  position: relative;
  bottom: 116px
}
.featuretitle{
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  background: linear-gradient(to right, #8E4384 , #2C4C7D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#featuregrid{
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
code{
  background-color:initial!important;
}
.wallet{
  background: #fff;
}
.startimg{
  text-align: center;
  background: #FFFFFF;
  padding: 20px;
  border: 2px solid #e8e5e5;
  border-radius: 21px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.mapgrid{
  background: #fff;
  padding-top: 120px;
  padding-bottom: 150px;;
}
.mapheading{
  font-size: 1.4em;
  font-weight: bolder;
  background: -webkit-gradient(linear, left top, right top, from(#8E4384) , to(#2C4C7D));
  background: -webkit-linear-gradient(left, #8E4384 , #2C4C7D);
  background: -o-linear-gradient(left, #8E4384 , #2C4C7D);
  background: linear-gradient(to right, #8E4384 , #2C4C7D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.jumbotron{
text-align: center;
background: #fff;
border: 1px solid #f1e9e9;
}
.buycoin{
  background: linear-gradient(to right, #f9b64a 0%, #f88127 100%);
  border-radius: 25px;
  color:#fff;
  padding: 11px 23px 13px 25px;
}
.mt-5{
  padding-top: 14em;
}
.mappush{
position: relative;
z-index: 99999;
top: 10em;
}
.navbar-bottom li a{
  font-size: 1.1em;
  color:#fff!important;
  font-weight: 500;
}
.footer-grid{
  background:linear-gradient(to bottom, #4b4a80 0%, #8d4384 100%);
}
.canvs-footer{
  height:270px!important;
}
.gradianr-title{
  font-size: 1.4em;
  font-weight: 600;
  background: -webkit-gradient(linear, left top, right top, from(#8E4384) , to(#2C4C7D));
  background: -webkit-linear-gradient(left, #8E4384 , #2C4C7D);
  background: -o-linear-gradient(left, #8E4384 , #2C4C7D);
  background: linear-gradient(to right, #8E4384 , #2C4C7D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}