body{
  font-family: 'Open Sans', sans-serif;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
code{
  font-family: 'Open Sans', sans-serif!important;
  background-color:initial!important;
}
.banner{
  background:#924284; 
}

.logo-title{
  color:#fff!important;
  font-weight: 600;
  font-size:24px;
}
.logo-title-bottom{
  color:#fff!important;
  font-weight: 600;
  font-size:25px;
  margin-top: 10px;
  margin-left: 12px;
}

.banner-heading{
  color:#fff;
  padding-top: 2.7em;
  font-size: 3.5em;
  font-family: 'Open Sans', sans-serif;
}
.banner-subheading{
  color:#e9e2ea;
  font-size: 1.31aem;
}
.search-box{
  width:300px;
  padding: 10px;
  border-radius: 30px;
}

#formValidationSuccess3{
  border-radius: 25px;
  height: 50px;
  padding-left: 25px;
}
.form-control-feedback{
  width: 100px;
  margin-top: 9px;
  border-radius: 22px;
  margin-right:10px;
  background: linear-gradient(to right, #f9b54a 0%, #f89132 100%);
  border: 0px;
  color:#fff!important;
  font-family: serif;
  font-size: 13px;
  font-weight: 500;
}
.canvs{
  height:370px!important;
  background: linear-gradient(to bottom, #944384 0%, #674681 100%);
}
.feature{
  background: #fff;
  padding-bottom: 190px;
  padding-top: 60px;
}
.three-feature{
  margin-left: 20px;
  font-size: 5em;
  background: linear-gradient(to right, #8E4384 , #4D4980);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.getstart{
  background: #FAFAFA;
  padding-bottom: 190px;
}
.startbutton{
  width: 300px;
  box-shadow: 0 3px 8px rgba(0,0,0,.37282);
  padding: 7px 5px 5px 5px;
  border-radius: 42px;
  font-weight: bolder;
  background: #FAFAFA;
  position: relative;
  bottom: 116px
}
.featuretitle{
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  background: linear-gradient(to right, #8E4384 , #2C4C7D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.featuregrid{
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.wallet{
  background: #fff;
  padding-bottom: 30em;
}
.startimg{
  text-align: center;
  background: #FFFFFF;
  padding: 46px 35px 35px 42px;
  box-shadow: 0 3px 8px rgba(0,0,0,.37282);
  border-radius: 21px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.mapgrid{
  background: #FAFAFA;
}
* {
	outline: none!important;
}
.mapheading{
  font-size: 1.4em;
  font-weight: bolder;
  background: -webkit-gradient(linear, left top, right top, from(#8E4384) , to(#2C4C7D));
  background: -webkit-linear-gradient(left, #8E4384 , #2C4C7D);
  background: -o-linear-gradient(left, #8E4384 , #2C4C7D);
  background: linear-gradient(to right, #8E4384 , #2C4C7D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.jumbotron{
text-align: center;
background: #fff;
border: 1px solid #f1e9e9;
box-shadow: 0 3px 8px rgba(0,0,0,.37282);
}

.mappush{
position: relative;
z-index: 99999;
top: 10em;
}
.navbar-bottom li a{
  font-size: 1.1em;
  color:#fff!important;
  font-weight: 500;
}
.footer-grid{
  background:linear-gradient(to bottom, #4b4a80 0%, #8d4384 100%);
  padding-bottom: 10em;
}
.canvs-footer{
  position: absolute;
  height: 300px;
  left: 0;
  bottom: 0px;
  overflow: hidden;
}
.gradianr-title{
  font-size: 1.5em;
  font-weight: 900;
  background: -webkit-gradient(linear, left top, right top, from(#8E4384) , to(#2C4C7D));
  background: -webkit-linear-gradient(left, #8E4384 , #2C4C7D);
  background: -o-linear-gradient(left, #8E4384 , #2C4C7D);
  background: linear-gradient(to right, #8E4384 , #2C4C7D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buycoin {
  width: 50%!important;
  border-radius: 25px!important;
  background: linear-gradient(160deg,#fad961,#f88f31 70.3%,#f7701c);
  font-size: 12px;
  padding: 11px 23px 13px 25px;
  border: none;
  color: #fff !important;
  font-weight: bold;
}

.getting-stared-container .col-sm-4 {
  padding: 0 70px;
}
